{% extends "layout.html" %}

{% block body %}
    <br>
    <h3>About me</h3>
    <hr>
  <div>
      My name is Abbas Abdiaziz i am 21 years old i am student in Celal Bayar University in Manisa/Turkey
      i am a software engineering i like developing python framewoks like Django and Flask
      also Flask is a micro framework it's not importan the important is learning and developing 
      as i think it's not important the smallness frameworks the important is your idea and your productive.
    
      healthy stay.
  </div>
{% endblock body %}