{% extends "layout.html" %}

{% block body %}
  <h3>Articales</h3>
  <hr>
  {% if articles %}    
        <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Author</th>
                    <th scope="col">Created_Date</th>
                  </tr>
                </thead>
                {% for article in articles %}
                <tbody>
                  <tr>
                    <th scope="row">{{article.id}}</th>
                    <td>{{article.title}}</td>
                    <td>{{article.content}}</td>
                    <td>{{article.author}}</td>
                    <td>{{article.created_date}}</td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
        
  {% else %}
    <div class = "alert alert-danger">Bu blogta henüz makale bulunmuyor . . .</div>
  {% endif %}
  
{% endblock body %}