{% extends "layout.html" %}
<br>
{% block body %}
    <br>
    <h3>Please Contact Us</h3>
    <hr>
    <form>
        <div>
            <label for="exampleInputEmail1">Email address : </label>
            <div>abbasabdullaziz@gmail.com</div>
            <br>
            <label for="exampleInputEmail1">Office adress : </label>
            <div>Subasi Mahallesi Turgutlu / Manisa</div>
            <br>
            <label for="exampleInputEmail1">Telephone No : </label>
            <div>00905459149870</div>
            <br>
            <label for="exampleInputEmail1">Fax : </label>
            <div>00905438654943</div>
            <br>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="C:\Users\Abbas SAFAROV\Desktop\Images\CVPg.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Somalian Coder</p>
            </div>
          </div>
    </form>

{% endblock body %}